/* 1.link: */
/* 2.hover */
/* ul a:hover{
    color: blueviolet;
    background-color: aquamarine;
} */
/* 3.active: */
/* ul a:active{
    color: brown;
} */
/* 4.visited: */
/* ul a:visited{
    color: crimson;
} */
