.bgimage{
    background-image: url("https://plus.unsplash.com/premium_photo-1675603849941-835c6e9d28b5?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cGhvdG8lMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww");
    background-size: cover;
}
.head{
    text-align: center;
    font-size:45px;
}
nav{
    display: flex;
    justify-content: end;
    gap:15px;
    font-size: 12px;
}
nav a{
    text-decoration: none;
}
.bar{
    border:1px solid black;
    max-width: 320px;
    border-radius:45px;
    background-color:white;
    margin-left:200px;
    border: none;
    padding:5px 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    
}
.word{
    margin-left: -10px !important;
}
.inputfield{
    outline: none;
    border: none;
    width:200px;
    height:4vh;
}
.apps{
    text-align: center;
    margin: 18px;
    margin-left:70px;
    display: grid;
    gap: 20px;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 60px 60px;
    align-items: center;
    justify-content: center;
}
p{
    font-size:7px;
    color: black;
    font-family:cursive;
    margin-top: -10px;

}
.bg{
    border: 1px solid black;
    width:25px;
    height:25px;
    border-radius:50%;
    background-color: rgba(224, 223, 223, 0.6);
    padding:6px;
    border: none;
}