/* 1.first-child:
 p:first-child{
    color: blue;
} */
/* 2.last-child: */
 /* p:last-child{
    color:red;
} */
/* 3.nth-child(): */
 /* p:nth-child(2n+1){
    color:green;
} */
/* 4.nth-lastchild: */
 /* p:nth-last-child(1){
    color: blue;
} */
/* 5.empty: */
/* div:empty{
    border: 5px solid cornflowerblue;
    
} */
/* 6.not: */
p:not(.nimu){
    color: blue;
}